.wallet__popup {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.wallet__item {
  font-family: 'Monument Light';
  font-size: .8rem;
  text-align: left;
}

@media (max-width: 700px) {
  .wallet__popup {
    position: relative;
  }
}